<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
	<div class="container">
		<a class="navbar-brand text-green" href=" @Url.Action("Index","Home")">SLSLogistic</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("Index", "Home")">Hem</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("Transports", "Home")">Transporter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("News", "Home")">Nyheter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("Policy", "Home")">Vår Policy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("Warehouse", "Home")">Lager</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="@Url.Action("Contact", "Home")">Kontakt</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
